
html {
    min-height: 100%;
}

body {
    background: -webkit-linear-gradient(left, #93B874, #C9DCB9); 
    background: -o-linear-gradient(right, #93B874, #C9DCB9); 
    background: -moz-linear-gradient(right, #93B874, #C9DCB9); 
    background: linear-gradient(to right, #93B874, #C9DCB9); 
    background-color: #93B874; 
}

div.title { text-align: center; color: yellow; font-size: 38; background: green; padding: 14px; border: left;  padding-right: 15px;
 padding-left: 15px; padding-top: 15px;
 padding-bottom: 15px;  border: 1px solid #ddd;
 border: 1px solid rgba(86,61,124,.2); height: 60px;
}

div.row { text-align: center; color: white; font-size: 38; background: blue; padding: 14px; border: left;  padding-right: 15px;
 padding-left: 15px; padding-top: 15px;
 padding-bottom: 15px;  border: 1px solid #ddd;
 border: 1px solid rgba(86,61,124,.2); height: 45px;
}

div.table { text-align: center; color: black; background: grey; padding: 18px; border: left;


}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-uq3h{background-color:#b2ebf2;border-color:#A5D6A7;text-align:center;vertical-align:middle}
/*.tg .tg-8tz9{color:#333333;border-color:#fe0000;text-align:left;vertical-align:middle}*/
.tg .tg-alhi{background-color:#80deea;border-color:#A5D6A7;text-align:center;vertical-align:middle}
.tg .tg-ribb{background-color:#fff;border-color:#A5D6A7;text-align:left;vertical-align:middle}
