<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'agenda/css/bootstrap.min.css'  %}">
		<link rel="stylesheet" type="text/css" href="{% static 'agenda/css/bootstrap-grid.min.css'  %}">
		<link rel="stylesheet" type="text/css" href="{% static 'agenda/css/bootstrap-reboot.min.css'  %}">
		
		<script src="{% static 'agenda/js/jquery.min.js' %}"></script>
		
		<script src="{% static 'agenda/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'agenda/js/bootstrap.min.js' %}"></script>
		{{endblock}}
		
		<title>
		{% block title%}  {% endblock %}
		</title>
	</head>
	<body>
		
		<nav class="navbar sticky-top navbar-expand-lg  navbar-light bg-success ">
			<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="{% static 'agenda/icon/menu.svg'  %}">
						</a>
						<div class="dropdown-menu" style="background-color:#81C784" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{%url 'mostrar_form'%}">Marcar Horário</a>
						
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{%url 'agenda1'%}">Agenda</a>
							
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Logout</a>
						</div>
					</li>
					
				</ul>
				

				<ul class="navbar-nav mr-auto">
					<h4>AGENDAMENTO DE LABORATÓRIOS - BLOCO 06</h4>
					
				</ul>
				{% block extra %}
				{% endblock %}
			</div>
			
		</nav>
		<div class="container-fluid " style="background-color: #41E784">
			<div class="container ">
				{% block content %}
				{% endblock %}

			</div>
			<div class="container-fluid " style="background-color: #41E784">
			<br>
			<br>
			<br>
			<br><br>
			<br><br>
			<br><br>
			<br><br>
		</div>
		</div>

	</body>
</html>