{% extends 'base.html' %}
{% load meus_filtros %}
{%block title%}
pagina ver agenda
{%endblock%}
{%block content%}
<br>
<div class="card   mb-3" >
  <div class="card-header text-center " style="background-color: #41E784"><h2> Informações de Reserva </h2>
  </div>
  <div class="card-body text-white bg-success">
    <form method="post">
      {%csrf_token%}
      <label> Professor: </label>
      {{formulario.solicitante|addclass:'form-control'}}
      <br>
      <label> Local: </label>
      {{formulario.local_solicitado|addclass:'form-control'}}
      <br>


      <div class="form-group" >
      <label> Dia da Semana: </label>
      {{formulario.dia_semana|addclass:'form-control'}}
      </div>

      <div class="form-group">
      <label> Horarios: </label>
      {{formulario.aulas|addclass:'form-control'}}
      </div>

      <label> Observações: </label>
      {{formulario.observacoes|addclass:'form-control'}}
      <br>
    </div>
    <div class="card-footer text-center">
      <input type="submit" class="btn btn-lg btn-info" value="Salvar">
    </div>
  
  <br>
</form>
</div>
{%endblock%}