{% extends 'base.html' %}
{% load static%}
{%block title%}
pagina ver agenda
{%endblock%}
{%block content%}
<div class="row">

   <div class="col-sm">
      Dias/ Horário
    </div>

    <div class="col-sm">
      Segunda-feira
    </div>

    <div class="col-sm">
      Terça-feira
    </div>

    <div class="col-sm">
      Quarta-feira
    </div>

 <div class="col-sm">
      Quinta-feira
    </div>

    <div class="col-sm">
      Sexta-feira
    </div>

 </div>
<div class="table">
	<table >
		{% for valor in valores%}
			
				<tr>
					<th scope="row"></th>
					{% for i in valor%}
						<td> {{i}} </td>
						
					{% endfor%}
				</tr>
			
		{% endfor%}
	</table>
</div>
{%endblock%}