{% extends 'base.html' %}
{%block title%}
pagina ver agenda
{%endblock%}
{%block corpo%}
<div class="row">
	<div class="col">
		<div class="card"  >
			<div class="card-header" style="background-color: #1E90FF" >
			<h5 class="card-title">	Segunda-Feira </h5>
			</div>
			<hr>
				
			{% for i in lista %}			
				<ul class="col-md-6" style="background-color: #90EE90" >
					
					<p class="card-title">	{{i}} </p>
				
					<text class="card-text">livre </text>
				

				</ul>
			
			{%endfor%}
			</div>
		</div>
	
	<div class="col">
		<div class="card"  >
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="card"  >
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="card"  >
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="card"  >
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
</div>
{%endblock corpo%}